.fund-style {
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.person-details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-right: 1px solid lightgray;
    margin-left: 50px;
    grid-gap: 20px;
}